@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Work Sans', sans-serif; 
}

:root{
  /*COLOUR PALETTE*/
  --space-gray: #13131b;
  --slate: #252934;
  --hot-pink: #d81b86;
  --hot-pink-dark: #bb1573;
  --medium-aqua: #84cac1;
  --white-smoke: #f5f5f5;
  --sandy-brown: #e9c367;
  
  /* PADDING & MARGINS */
  --base-small: 8px;
  --base-padding: 24px;
  --base-padding-large: 48px;
  
}

body{
  position: relative;
  text-align: center;
  color: var(--slate);
}

p {
  padding: var(--base-padding);
}

h1{
  padding: var(--base-small);
}

.h-line{
  width: 152px;
  height: calc(var(--base-small) / 2);
  background-color: var(--medium-aqua);
  margin: 0 auto;
  margin-bottom: calc(var(--base-small) * 2);;
}

.container{
  width: 100%;
  height: 100%;
  padding: var(--base-padding-large) var(--base-padding);
}

.btn{
  all:unset;
  background-color: var(--hot-pink);
  color: white;
  padding: var(--base-small) var(--base-padding);
  border-radius: 10px;
  border: none;
}

.btn:hover{
  background: var(--hot-pink-dark);
}

.btn:focus {
  box-shadow: 0 0 0 1px var(--hot-pink-dark);
}





#landing {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 93vh;
  background-color: var(--slate);
  box-shadow: 0px 0px 100px black inset;
}
#landing h1{
  color: white;
  font-size: 2.5rem;
}
#landing img {
  width: 35rem;
  padding: var(--base-small) 0;
}


nav{
  height: 50px;
  width: 100%;
  background-color:var(--space-gray);
  border-bottom: calc(var(--base-small)/2) solid var(--medium-aqua);
  display: flex;
  flex: column wrap;
  justify-content: center;
  align-items: center;
}
nav .nav-menu {
  display: flex;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 0 var(--base-padding);
}
nav a:hover{
 color: var(--medium-aqua);
 transition: all 250ms ease;
}
.navbar-fixed{
  position: fixed;
  top: 0;
}
nav .nav-button{
  all: unset;
  display: none;
  padding: calc(var(--base-small)*1.5) calc(var(--base-small)*2);
}
.nav-button .fa-bars{
  display: none;
  color: white;
  font-size: var(--base-padding);
}


#register {
background-color: var(--white-smoke);
}
#register .register-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#register .register-box{
  width: 50%;
}
#register .register-box:first-of-type{
  border-right: solid 1px rgb(209, 209, 209);
}
#register .register-box p {
  padding: var(--base-padding-large);
}

/* SPONSORS */
#sponsors .logos{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: var(--base-padding-large);
}
#sponsors .logo{
  height: 65px;
  margin: var(--base-padding);
}


/* CONTACT & FOOTER */
#contact { 
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  line-height: 1.5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: var(--slate);
  box-shadow: 0px 0px 100px black inset;
  color: white;
}
#contact p, #contact h3{
  padding-left: 0;
  padding-right: 0;
}
#contact h3{
  color: var(--medium-aqua);
}
#contact .contact-col{
  padding: var(--base-padding-large)  var(--base-padding);
}
#contact .logo{
  width: 13rem;
  height: auto;
}
#contact a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#contact .fa-instagram{
  font-size: calc(var(--base-padding) * 1.5);
  margin-top: var(--base-padding);
}
#contact .fa-instagram:hover,  #contact a:hover{
  color: var(--hot-pink);
}




/* MODAL */
.modal {
  display: none;
  position: fixed; 
  z-index: 9999;
  padding-top: calc(var(--base-padding-large)*2.5); 
  padding-bottom: calc(var(--base-padding-large)*2.5); 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-body {
  background-color: white;
  margin: auto;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 80%;
}
.modal .content{
  padding: calc(var(--base-padding) *2);
  padding-top: var(--base-padding);
}
.modal-header{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: calc(var(--base-padding)/2) calc(var(--base-padding)*2);
}
.close {
  color:var(--slate);
  text-align: right;
  font-size: calc(var(--base-padding) * 1.5);
}
.close:hover,
.close:focus {
  color: var(--space-gray);
  text-decoration: none;
  cursor: pointer;
}





/* TABLET */
@media screen and (max-width: 788px){
  #contact .contact-col{
    width: 100%;
  }
}
@media screen and (max-width: 733px){
  #landing img {
    width: 25rem;
  }
  #register .register-box{
    width: 100%;
    padding-bottom: var(--base-padding-large);
  }
  #register .register-box:first-of-type{
    border-right: none;
    border-bottom: solid 1px rgb(209, 209, 209);
  }
}
@media screen and (max-width: 575px){
  nav{
    display: block;
    height: auto;
  }
  nav .nav-menu{
    display: none;
  }
  nav .nav-button{
    display: block;
    align-self: flex-start;
    cursor: pointer;
  }
  nav a {
    margin: 0;
    padding: calc(var(--base-small)*1.5) calc(var(--base-small) + var(--base-padding));
    display: block;
  }
  nav a:last-of-type{
    padding-bottom: calc(var(--base-small)*3);
  }
  nav .nav-button .fa-bars{
    display: block;
  }
}
@media screen and (max-width: 400px){
  #landing img {
    width: 15rem;
  }
}